<section>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-md-3">
                <button class="btn btn-success mt-5">Upload Photo</button>
            </div>
            <div class="col-md-6">
                <div>
                    <div>
                        <a href="profile/upload-coverphoto">
                            <img class="w-100" style="max-height: 270px;"
                                src="https://ak.picdn.net/shutterstock/videos/10713155/thumb/1.jpg" alt="">
                        </a>
                        <a href="profile/upload-profilepic">
                            <img class="profile-pic"
                                src="https://media.istockphoto.com/photos/portrait-of-handsome-smiling-young-man-with-crossed-arms-picture-id1200677760?k=20&m=1200677760&s=612x612&w=0&h=JCqytPoHb6bQqU9bq6gsWT2EX1G5chlW5aNK81Kh4Lg="
                                alt="">
                        </a>

                    </div>

                    {{!-- <div class="p-4">
                        <a href="/friends" class="btn btn-success">
                            Friends
                        </a>
                    </div> --}}
                    <div class="post" style="top: -120px;position:relative">
                        <div class="container post">
                            <div class="post-header">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">
                                            <img class="thumbnail" src="https://www.w3schools.com/howto/img_avatar.png"
                                                alt="">
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: #111;" href="#">Aswin.S.Thampalakad</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-body container" style="display: flex;justify-content:center;">
                                <img src="https://images.medicinenet.com/images/article/main_image/average-height-for-men.jpg"
                                    alt="">
                            </div>
                            <div class="post-body">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: #111;" href="#">Like</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: #111;" href="#">Comment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: #111;" href="#">Share</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="container post">
                            <div class="post-header">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">
                                            <img class="thumbnail" src="https://www.w3schools.com/howto/img_avatar.png"
                                                alt="">
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: #111;" href="#">Aswin.S.Thampalakad</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-body container" style="display: flex;justify-content:center;">
                                <img src="https://images.medicinenet.com/images/article/main_image/average-height-for-men.jpg"
                                    alt="">
                            </div>
                            <div class="post-body">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: #111;" href="#">Like</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: #111;" href="#">Comment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: #111;" href="#">Share</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
</section>