<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="container mt-2">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container post">
                    <div class="post-header">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <img class="thumbnail" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #111;" href="#">Aswin.S.Thampalakad</a>
                            </li>
                        </ul>
                    </div>
                    <div class="post-body container" style="display: flex;justify-content:center;">
                        <img src="https://images.medicinenet.com/images/article/main_image/average-height-for-men.jpg"
                            alt="">
                    </div>
                    <div class="post-body">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" style="color: #111;" href="#">Like</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #111;" href="#">Comment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #111;" href="#">Share</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="container post">
                    <div class="post-header">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <img class="thumbnail" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #111;" href="#">Aswin.S.Thampalakad</a>
                            </li>
                        </ul>
                    </div>
                    <div class="post-body container" style="display: flex;justify-content:center;">
                        <img src="https://images.medicinenet.com/images/article/main_image/average-height-for-men.jpg"
                            alt="">
                    </div>
                    <div class="post-body">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" style="color: #111;" href="#">Like</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #111;" href="#">Comment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #111;" href="#">Share</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="container">
                    <div class="mt-2">
                        <h4>Messages</h4>
                        <div>
                            <nav class="nav">
                                <a class="nav-link active" href="#">
                                    <img class="thumbnail" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                                </a>
                                <a class="nav-link" href="#">
                                    <img class="thumbnail" src="https://www.w3schools.com/howto/img_avatar2.png" alt="">
                                </a>
                                <a class="nav-link" href="#">
                                    <img class="thumbnail"
                                        src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg"
                                        alt="">
                                </a>
                                <a class="nav-link " href="#">
                                    <img class="thumbnail"
                                        src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg"
                                        alt="">
                                </a>
                            </nav>
                            <hr>
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>